@import '../../../assets/scss/_variables.scss';

.photos-container {
  @media (max-width: $mobile-700 + px) {
    height: calc(100vh - 80px);
    overflow: scroll;
  }

  &__masonry-container {
    display: flex;
    padding: 50px;
    margin-left: 90px;
  
    @media (max-width: $mobile-700 + px) {
      padding: 25px;
      margin-left: 0;
    }
  }
  
  &__masonry-column {
    padding-left: 25px;
    background-clip: padding-box;
  
    &:first-child {
      padding-left: 0;
    }
  }
}

.photo-box {
  margin-bottom: 22px;
  position: relative;

  &__liked-box {
    width: 32px;
    height: 32px;
    background-color: #2D9CDB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 12px;
    border-radius: 10px;

    img {
      width: 16px;
      height: 16px;
    }
  }

  img:not(.liked) {
    width: 100%;
    border-radius: 10px;
  }
}